body {
    background-color: bisque;
    box-sizing: border-box;
}

.btn {
    height: 40px;
    border-radius: 30px;
    background-color: #666cff;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
    display: block;
    transition: all 1.3s ease;
}

.btn:hover {
    background-color: aqua;
    color: #000;
    transform: scale(1.3);
    box-shadow: 0 0 8px #000;
    transition: all 1.3s ease;
}

.item {
    border-radius: 30px;
    margin: auto;
}

.item-title {
    margin: 20px 10px;
}

.item-img {
    border-radius: 30px;
    background-color: #d9d9d9;
    height: 250px;
    margin: 10px;
    outline: 1px solid red;
}

.item-img.two {
    background-image: url(img/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.item-img.four {
    background-image: url(img/4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.item-img.six {
    background-image: url(img/6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.container {
    border: 2px solid green;
    width: 300px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
}

.container:hover {
    box-shadow: 0 0 20px green;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

